/* COLOR VARIABLES */

:root {
    --color-primary: #334b5e;
    --color-background: #ffffff;
    --color-accent: #2EC4B6;
}

/* GENERAL STYLES */

body {
    min-height: 100vh;
    margin: 0;
    color: var(--color-primary);
    background-color: var(--color-background);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    line-height: 1.4;
}

/* TITLE */
h1 {
    font-size: 2.4rem;
    font-weight: 600;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
}

/* BUTTONS */
.btn-primary-custom {
    padding: 0.4rem 0.6rem;
    color: var(--color-primary);
    font-weight: 500;
    background-color: var(--color-accent);
    transition:
        background-color 0.2s,
        transform 0.2s;
    margin-bottom: 2rem;
}

.btn-primary-custom:hover,
.btn-primary-custom:focus {
    color: var(--color-background);
    background-color: var(--color-primary);
    transform: translateY(-2px);
}

.btn-lg-custom {
    padding: 0.6rem 0.8rem;
    font-size: 1.1rem;
}

.btn-secondary-custom {
    padding: 0.5rem 1rem;
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--color-background);
    border: 2px solid var(--color-primary);
}

.btn-admin {
    padding: 0.3rem 0.7rem;
    white-space: nowrap;
    color: var(--color-primary);
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
}


.btn-admin:hover,
.btn-admin:focus {
    color: var(--color-background);
    background-color: var(--color-primary);
}

/* FORMS */

.form-control:not(textarea),
.form-select {
    height: 2rem;
}

/* FLASH MESSAGES */
.flash-message {
    --bs-alert-color: var(--color-primary);
    --bs-alert-bg: var(--color-background);
    max-width: 1200px;
    margin: 1rem auto;
    border-width: 2px;
}

.alert-success {
    border-color: var(--color-accent);
}

.alert-danger {
    border-color: #dc3545;
}

.alert-warning {
    border-color: #f0ad4e;
}

.alert-info {
    border-color: var(--color-primary);
}

